.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(29, 29, 29);
  /* background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-pfp-boarder {
  bottom: 10px;
  width: 200px;
  height: 200px;
  background-color: #663dff;
  /* background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%); */
  border-radius: 50%;
  position: relative;
}

.App-pfp {
  top: 2.25px;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: relative;
}

.App-title {
  align-items: center;
  margin-top: -10%;
  color:rgb(71, 40, 255);
}

.App-description-name {
  align-items: center;
  color:rgb(71, 40, 255);
  /* margin-bottom: -5%; */
  font-size: 32px;
  font-weight: 550;
}

.App-description-info {
  align-items: center;
  color:rgb(71, 40, 255);
  /* margin-bottom: -5%; */
  font-size: 29px;
  font-weight: 550;
}

.App-description-thanks {
  align-items: center;
  color:rgb(71, 40, 255);
  /* margin-bottom: -5%; */
  font-size: 29px;
  font-weight: 550;
}

.App-link {
  color:rgb(71, 40, 255);
  background-color: #7659fa00;
  font-size: calc(6.1px + 2.3vmin);
  margin-left: -500px;
  margin-right: 500px;
  top: 30px;
  opacity: 0;
  padding: 5px;
  border-radius: 4.5px;
  border-color: black;
  width: max-content;
  position: relative;
}

.Section-titles {
  color:rgb(71, 40, 255);
  background-color: #7659fa00;
  font-size: calc(6.1px + 2.3vmin);
  position: relative;
  top: 175px;
}