.App {
  text-align: center;
  background-color: rgb(29, 29, 29);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(29, 29, 29);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topnav {
  background-color: rgb(29, 29, 29);
  position: relative;
  top: -225px;
}

.topnav a {
  float: left;
  color: rgb(71, 40, 255);
  text-align: center;
  padding: 14px 16px;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin-left: -500px;
  margin-right: 500px;
  opacity: 0;
}

.topnav a:hover {
  background-color: #663dff;
}

.App-pfp-boarder {
  bottom: 10px;
  width: 200px;
  height: 200px;
  background-color: #663dff;
  border-radius: 50%;
  position: relative;
}

.App-pfp {
  top: 2.25px;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: relative;
}

.App-title {
  align-items: center;
  margin-top: -10%;
  color:rgb(71, 40, 255);
}

.App-description {
  position: relative;
  top: 20px;
}

.App-description-name {
  align-items: center;
  color:rgb(71, 40, 255);
  font-size: 32px;
  font-weight: 550;
}

.App-description-info {
  align-items: center;
  color:rgb(71, 40, 255);
  font-size: 29px;
  font-weight: 550;
}

.App-description-thanks {
  align-items: center;
  color:rgb(71, 40, 255);
  font-size: 29px;
  font-weight: 550;
}

.App-link {
  color:rgb(71, 40, 255);
  background-color: #7659fa00;
  opacity: 0;
  padding: 5px;
  border-radius: 4.5px;
  border-color: black;
  width: max-content;
}

.App-link:hover {
  color: white;
}

.Section-titles {
  color:rgb(71, 40, 255);
}

.Info-paragraphs {
  margin: 20px 14vw 0;
  font-size: 24px;
  text-align: left;
  align-items: center;
  width: 70%;
  padding-top: 65px;
  padding-bottom: 100px;
}

.About-section {
  color:white;
  background-color: rgb(29, 29, 29);
  font-size: calc(6.1px + 2.3vmin);
  position: relative;
  top: -75px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Skills-section {
  color:white;
  background-color: rgb(29, 29, 29);
  font-size: calc(6.1px + 2.3vmin);
  overflow-x: hidden;
  overflow-y: hidden;
}

.Skill-box {
  text-align: center;
  background-color: rgba(0,0,0,.3);
  position: relative;
  margin-bottom: 20px;
  margin-left: 17%;
  top: 75px;
  padding-bottom: 30px;
  width: 25%;
  height: 500px;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
}